<aside id="desktopSidebar" class="bg-white border-end d-none d-md-block" style="width: 350px; min-height: 100vh;">
    <nav class="nav flex-column p-3" style="font-size: 1.1rem;"> <!-- Increased font size -->
        <a class="nav-link text-dark d-flex align-items-center" href="/dashboard">
            <i class="bi bi-grid-3x3-gap-fill me-2"></i> Dashboard
        </a>
        <a class="nav-link text-dark d-flex align-items-center" href="/productmanagement">
            <i class="bi bi-calendar2-event-fill me-2"></i> Quản lý sản phẩm
        </a>
        <a class="nav-link text-dark d-flex align-items-center" href="/OrderManagement">
            <i class="bi bi-cart-fill me-2"></i> Quản lý đơn hàng
        </a>
        <a class="nav-link text-dark d-flex align-items-center" href="/account-management">
            <i class="bi bi-person-fill me-2"></i> Quản lý tài khoản
        </a>
        <a class="nav-link text-dark d-flex align-items-center" href="/CustomerManagement">
            <i class="bi bi-people-fill me-2"></i> Quản lý khách hàng
        </a>
        <a class="nav-link text-dark d-flex align-items-center" href="/discount-management">
            <i class="bi bi-percent me-2 text-white bg-black border rounded-circle" style="padding: 0.2rem;"></i> Quản lý mã giảm giá
        </a>
    </nav>
</aside>
